<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
    crossorigin="anonymous">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{%static "css/demo1.css"%}">
    <title></title>
  </head>
  <body>
    <div class="container">
    <div class="jumbotron">
  <h1>WELCOME TO WORLD CLASS NEWS . . . .</h1>
  <p>continous news updates !!!!</p>

  <a class="btn btn-primary btn-lg" href="/sportsinfo" role="button">sportsinfo</a>&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/moviesinfo" role="button">moviesinfo</a>&nbsp&nbsp
  <a class="btn btn-primary btn-lg" href="/politicsinfo" role="button">politicsinfo</a>
</div>
</div>
  </body>
</html>
